<div class="admin-wrapper">
  <div class="admin-card">
    <div class="admin-card-header">
      <h4 class="page-title">{{ 'SCHOOL_HOURS.PAGE_TITLE' | translate }}</h4>
    </div>

    <p-confirmDialog [style]="{ width: '450px' }" />

    <p-tabs [value]="activeCampusId()" (valueChange)="onCampusSelect($event)">
      <p-tablist>
        @for (campus of campuses(); track campus.id) {
          <p-tab [value]="campus.id">{{ campus.ad }}</p-tab>
        }
      </p-tablist>

      <p-tabpanels>
        @for (campus of campuses(); track campus.id) {
          <p-tabpanel [value]="campus.id">
            <div class="filter-bar">
              <label class="filter-label">{{
                'SCHOOL_HOURS.SELECT_CLASS_LABEL' | translate
              }}</label>

              <app-class-multi-select
                class="class-select"
                [classes]="classes()"
                [value]="selectedClass()"
                [placeholder]="'SCHOOL_HOURS.SELECT_CLASS_PROMPT' | translate"
                (valueChange)="onClassSelect($event)"
              />
            </div>

            <p-table
              [value]="hours()"
              dataKey="Id"
              editMode="row"
              [editingRowKeys]="editingRows()"
              [loading]="loading()"
              styleClass="admin-table p-datatable-sm"
              [scrollable]="true"
              [tableStyle]="{ 'min-width': '1150px' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="sticky-col grade-col">{{ 'SCHOOL_HOURS.GRADE_LEVEL' | translate }}</th>
                  @for (day of days; track day.key) {
                    <th class="text-center day-col">{{ day.headerKey | translate }}</th>
                  }
                  <th class="text-center sticky-right-col actions-col">
                    {{ 'COMMON.ACTIONS' | translate }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-row>
                <tr [pEditableRow]="row">
                  <td class="font-bold sticky-col">{{ row.SinifSeviyesi }}</td>

                  @for (day of days; track day.key) {
                    <td class="text-center day-col">
                      <app-day-hours-cell
                        [editing]="!!editingRows()[row.Id]"
                        [dayName]="day.headerKey | translate"
                        [normalHint]="'SCHOOL_HOURS.NORMAL_HOURS_HINT' | translate"
                        [studyHint]="'SCHOOL_HOURS.STUDY_HOURS_HINT' | translate"
                        [(normalStart)]="$any(row)[day.key + 'Bas']"
                        [(normalEnd)]="$any(row)[day.key + 'Bit']"
                        [(studyStart)]="$any(row)[day.key + 'EtutluBas']"
                        [(studyEnd)]="$any(row)[day.key + 'EtutluBit']"
                      />
                    </td>
                  }

                  <td class="sticky-right-col actions-col">
                    <div class="row-actions">
                      @if (!editingRows()[row.Id]) {
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-pencil"
                          class="p-button-rounded p-button-text p-button-sm p-button-secondary"
                          (click)="onRowEditInit(row)"
                          [pTooltip]="'COMMON.EDIT' | translate"
                        ></button>
                      } @else {
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-check"
                          class="p-button-rounded p-button-text p-button-sm p-button-success"
                          (click)="onRowEditSave(row)"
                          [pTooltip]="'COMMON.SAVE' | translate"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-times"
                          class="p-button-rounded p-button-text p-button-sm p-button-danger"
                          (click)="onRowEditCancel(row)"
                          [pTooltip]="'COMMON.CANCEL' | translate"
                        ></button>
                      }
                    </div>
                  </td>
                </tr>

                @if (editingRows()[row.Id]) {
                  <tr class="student-expansion-row">
                    <td [attr.colspan]="days.length + 2" class="p-0 border-0">
                      @if (hasAnyStudyTime(row)) {
                        <app-student-study-panel
                          [students]="getStudents(row.CampusId, row.SinifId)"
                          [studyDayIndexes]="studyDayIndexes(row)"
                          [gradeLabel]="row.SinifSeviyesi"
                          [prefill]="prefillByRow()[row.Id]"
                          [rowSelections]="selectionsMap[row.Id]"
                          (rowSelectionsChange)="onRowSelectionsChange(row.Id, $event)"
                        />
                      } @else {
                        <div class="empty-study-container">
                          <div class="icon-wrapper"><i class="pi pi-info-circle"></i></div>
                          <div class="text-content">
                            <h6>{{ 'SCHOOL_HOURS.NO_STUDY_TITLE' | translate }}</h6>
                            <p>{{ 'SCHOOL_HOURS.NO_STUDY_HINT' | translate }}</p>
                          </div>
                        </div>
                      }
                    </td>
                  </tr>
                }
              </ng-template>
            </p-table>
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
