<!-- <nav class="sidebar">
  <div class="sidebar-header">MENÜ</div>
  <ul class="nav-list">
    @for (item of navItems; track item.label) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav> -->

<nav class="sidebar" [class.closed]="!isOpen">
  <div class="sidebar-header">
    @if (isOpen) {
      <span class="header-title">MENÜ</span>
    }

    <button
      class="toggle-btn"
      (click)="sidebarToggle.emit()"
      [title]="isOpen ? 'Menüyü Daralt' : 'Menüyü Genişlet'"
    >
      <span class="material-symbols-outlined">{{ isOpen ? 'menu_open' : 'menu' }}</span>
    </button>
  </div>

  <ul class="nav-list">
    @for (item of navItems; track item.label) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.route === '/home' }"
          [title]="!isOpen ? item.label : ''"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>

          @if (isOpen) {
            <span class="nav-label">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </ul>
</nav>
