<!-- <nav class="sidebar">
  <div class="sidebar-header">MENÜ</div>
  <ul class="nav-list">
    @for (item of navItems; track item.label) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav> -->

<nav class="sidebar" [class.closed]="!isOpen">
  <div class="sidebar-header">
    <span class="header-title">{{ 'HEADER.MENU' | translate }}</span>

    <button
      class="toggle-btn"
      (click)="sidebarToggle.emit()"
      [title]="(isOpen ? 'HEADER.COLLAPSE' : 'HEADER.EXPAND') | translate"
    >
      <span class="material-symbols-outlined">{{ isOpen ? 'menu_open' : 'menu' }}</span>
    </button>
  </div>

  <ul class="nav-list">
    @for (item of navItems; track item.labelKey) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.route === '/home' }"
          [title]="!isOpen ? (item.labelKey | translate) : ''"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span class="nav-label">{{ item.labelKey | translate }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
